<button class="mono-mode-button" id="monoToggle">
  mono (m)
</button>

<style>
  .dark-mode-button, .mono-mode-button {
    color: #343434;
    margin-right: 10px;
  }

  /* Dark mode styling */
  :global(.dark) .dark-mode-button, 
  :global(.dark) .mono-mode-button {
    color: #cdcdcd;
  }

  /* Monochrome mode styling */
  :global(.mono) {
    filter: grayscale(100%);
  }
</style>


<script is:inline>

  const handleMonoToggle = () => {
    const element = document.documentElement;
    element.classList.toggle("mono");

    const isMono = element.classList.contains("mono");
    localStorage.setItem("mono", isMono ? "mono" : "color");
  }

  // Apply initial monochrome state from localStorage
  const savedMono = localStorage.getItem("mono");
  if (savedMono === "mono") {
    document.documentElement.classList.add("mono");
  }

  document.getElementById("monoToggle").addEventListener("click", handleMonoToggle);

  // Event listeners for key presses (d and m keys)
  document.addEventListener("keydown", (event) => {
 if (event.key.toLowerCase() === "m") {
      handleMonoToggle();
    }
  });
</script>
