:root {
  --white: rgba(254, 254, 254, 100);
  --black: rgba(1, 1, 1, 100);
  --grey-10: rgba(24, 22, 21, 100);
  --grey-20: rgba(34, 32, 31, 100);
  --grey-30: rgba(44, 42, 41, 100);
  --grey-40: rgba(54, 52, 51, 100);
  --grey-50: rgba(95, 95, 95, 100);
  --grey-60: rgba(197, 195, 191, 100);
  --grey-70: rgba(217, 215, 211, 100);
  --grey-80: rgba(227, 225, 221, 100);
  --grey-90: rgba(237, 235, 231, 100);
  --orange: rgba(254, 69, 2, 100);
  --peach: rgba(255, 127, 80, 100);
  --cream: rgba(221, 216, 196, 100);

  --bg: var(--white);
  --primary: var(--orange);
  --secondary: var(--peach);
  --tertiary: var(--cream);
  --header-text: var(--grey-20);
  --primary-text: var(--grey-40);
  --secondary-text: var(--grey-60);
  --accent-text: var(--peach);
  --disabled-text: var(--grey-60);
  --card-bg: var(--grey-90);
  --card-accent: var(--grey-80);
  --primary-btn: var(--grey-20);

  --mono: 'Space Mono', monospace;
  --sans-serif: 'Hanken Grotesk Variable';
}
:root.dark {
  --bg: var(--grey-10);
  --primary: var(--orange);
  --secondary: var(--peach);
  --tertiary: var(--cream);
  --header-text: var(--grey-80);
  --primary-text: var(--grey-60);
  --secondary-text: var(--grey-50);
  --accent-text: var(--peach);
  --disabled-text: var(--grey-40);
  --card-bg: var(--grey-20);
  --card-accent: var(--grey-30);
  --primary-btn: var(--grey-80);
}

@font-face {
  font-family: 'Hanken Grotesk Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('/fonts/hanken-grotesk-variable.woff2') format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Hanken Fallback';
  src: local('Helvetica'), local('Arial');
  size-adjust: 100%;
  ascent-override: 90%;
  descent-override: 22%;
  line-gap-override: 0%;
}

html {
  background-color: var(--bg);
}
body {
  font-family:
    'Hanken Grotesk Variable', 'Hanken Fallback', Helvetica, sans-serif;
  margin: 0;
}
html.mono {
  filter: grayscale(100%);
}

@media (max-width: 768px) {
  body {
    margin: 18px;
  }
}

@media (max-width: 480px) {
  body {
    margin: 0;
  }
}

.md-content ul {
  margin-top: -10px;
  padding-left: 20px;
}

.retro-mode .retro-cover {
  display: block !important;
}

.retro-mode .cover {
  display: none;
}
