---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Reel42 | About">
  <main>
    <h1>
      About Reel<span style="color: var(--tertiary)">4</span><span
        style="color: var(--primary)">2</span
      >
    </h1>
    <hr />
    <div class="content">
      <p>
        Reel42 is an experimental, creative playground made for the sole purpose
        of exploring the collision between two of my favorite hobbies: music and
        art. This idea was born out of my nostalgia of burning CDs back before
        streaming services took over. It was a way for me to grow my musical
        tastes and share them with people that shared my love of music.
      </p>
      <p>
        The idea is quite simple: build a playlist and create album art for it.
        I do adhere to some parameters to keep things interesting and add
        cohesion to the project. Mixtapes should be able to be pressed on a
        single LP vinyl record (~ 45 minutes) and End of Year (EOY) loosies, a
        cheeky way of refering to songs, are capped at 9 tracks mainly to keep
        the cover collage aethetically pleasing. Mixtapes tend to have a
        specific genre, theme, or narrative but they aren't required to. There
        is an attempt to find smaller, more independent artists to add in but
        when inspiration strikes, well-known songs/bands make an appearance.
      </p>
      <p>
        The artwork is all done by me. I have always had a passion for album art
        and consider it to be the genesis of my interest in art and graphic
        design. Storm Thorgerson (and Hipgnosis) is/was a massive influence and
        should be considered the GOAT. I try to create the album artwork
        post-mixtape creation but sometimes an image or design will inspire and
        will dictate the music of the underlying mixtape.
      </p>
      <p>
        Disclaimer: this site is purely for personal artistic expression. Reel42
        doesn’t claim ownership of the music or any mixtape organization. No
        items are for sale, and no data is being harvested. However, the artwork
        is made by me, so please be cool and don’t steal it.
      </p>
      <p>
        If you’ve made it this far, I appreciate you sticking around and sharing
        these passions with me. Keep on rockin’.
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: 64px auto;
    padding: 1rem;
    font-size: 16px;
    line-height: 1.6;
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
    gap: 32px;
  }
  h1 {
    text-transform: uppercase;
    font-size: clamp(8vw, 13vw, 20vw);
    color: var(--header-text);
    margin: 0;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  hr {
    width: 180px;
    border: none;
    border-top: 1px solid var(--card-accent);
    margin: 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .content p {
    max-width: 700px;
    margin: 0;
    color: var(--primary-text);
  }
</style>
