---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Reel42 | About">
	<main>
		<h1>About</h1>
	</main>
</Layout>

<style>
	main {
		margin: 64px auto;
		padding: 1rem;
		font-size: 20px;
		line-height: 1.6;
	}

</style>
