---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="copyright">
    <p>&copy;</p>
    <p style="color: var(--primary-text)">{currentYear}</p>
  </div>
  <div class="colophon">
    <p>Designed and Developed in BCN</p>
    <a style="color: var(--primary-text)" href="mailto:info@reel42.com"
      >info@reel42.com</a
    >
  </div>
</footer>

<style>
  footer {
    border-top: 1px solid var(--card-accent);
    padding-top: 12px;
    margin: 0 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  p {
    color: var(--secondary-text);
    margin: 0;
    font-size: 13px;
  }
  a {
    text-decoration: none;
    color: var(--primary-text);
    font-size: 12px;
  }
  svg path {
    fill: var(--primary-text);
  }
</style>
