---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="copyright">
    <p>&copy;</p>
    <p style="color: var(--primary-text)">{currentYear}</p>
  </div>
  <div class="colophon">
    <p>Designed and Developed in BCN</p>
    <svg
      viewBox="0 0 15 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      width="12"
      height="12"
      ><path
        d="M4.036 1a4.036 4.036 0 00-2.854 6.89l5.964 5.964a.5.5 0 00.708 0l5.964-5.965a4.036 4.036 0 00-5.707-5.707l-.611.61-.61-.61A4.036 4.036 0 004.035 1z"
      ></path></svg
    >
  </div>
</footer>

<style>
  footer {
    border-top: 1px solid var(--card-accent);
    padding-top: 12px;
    margin: 0 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  p {
    color: var(--secondary-text);
    margin: 0;
    font-size: 13px;
  }
  a {
    text-decoration: none;
    color: var(--primary-text);
    font-size: 12px;
  }
  svg path {
    fill: var(--primary-text);
  }
</style>
