---
import { Image } from 'astro:assets';
import Reel42 from '../icons/reel42.svg';
import Dark from '../components/modes/Dark.astro';
import Mono from '../components/modes/Mono.astro';

const isAboutPage = Astro.url.pathname === '/about';
---

<header>
  <nav>
    <a href={isAboutPage ? '/' : '/about'} data-astro-prefetch>
      {isAboutPage ? 'back' : 'about'}
    </a>
  </nav>
  <div class="logo">
    <a href="/" data-astro-prefetch>
      <Image src={Reel42} alt="Reel 42 home" loading="eager" />
    </a>
  </div>
  <div class="controls">
    <Dark />
    <Mono />
  </div>
</header>
<style>
  header {
    padding: 24px 36px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  header > nav,
  header > div {
    width: 100%;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  .controls {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, min-content);
    gap: 12px;
    justify-content: end;
    width: max-content;
  }
  a {
    text-decoration: none;
    color: var(--primary-text);
    font-size: 12px;
  }

  @media (max-width: 768px) {
    header {
      padding: 24px 24px;
    }
  }

  @media (max-width: 480px) {
    header {
      padding: 24px 12px;
    }
  }
</style>
<style is:global>
  .control-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    color: var(--disabled-text);
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  .control-btn.is-active {
    color: var(--primary-text);
  }
  @media (max-width: 768px) {
    .keyboard-shortcut {
      display: none;
    }
  }
</style>
